@import url(https://fonts.bunny.net/css?family=beau-rivage:400);

:root {
    --sidebar-color: rgb(254, 184, 70);
    --main-color: rgb(255, 218, 194);
    --logo-color: rgb(251, 122, 22);
    --table-heading: rgb(251, 164, 57);
    --table-row-odd: rgb(236, 168, 85);
    --table-row-even: rgb(247, 189, 113);
}

body {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-color);
    padding: 16px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 60px;
    font-family: "Beau Rivage";
    font-weight: bold;
    color: var(--logo-color);
}

.logo > img {
    width: 60px;
}

.library {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;
}

caption {
    font-family: "Beau Rivage";
    font-size: 36px;
    color: var(--logo-color);
}

thead {
    background-color: var(--table-heading);
}

tbody > tr:nth-child(odd) {
    background-color: var(--table-row-odd);
}

tbody > tr:nth-child(even) {
    background-color: var(--table-row-even);
}

#delete-icon {
    width: 32px;
}